<a href="https://colab.research.google.com/github/ormorteey/STA-250-Project/blob/main/STA_250_%5BPython%5D_Computational_Statistics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np 
import matplotlib.pyplot as plt 
import pandas as pd
import sqlite3

In [ ]:
!git clone https://github.com/romanchereshnev/HuGaDB.git
!cp /content/HuGaDB/Scripts/create_db.py create_db.py
import create_db
!cp /content/HuGaDB/Scripts/load_HuGaDB_file.py load_HuGaDB_file.py
import load_HuGaDB_file
import requests

Cloning into 'HuGaDB'...
remote: Enumerating objects: 69, done.
remote: Counting objects: 100% (24/24), done.
remote: Compressing objects: 100% (22/22), done.
remote: Total 69 (delta 8), reused 3 (delta 1), pack-reused 45
Unpacking objects: 100% (69/69), done.
No such folder -f

In [ ]:
%load_ext rpy2.ipython

In [ ]:
%%capture
%%R

h = install.packages("pacman")
h = library(pacman)

In [ ]:
%%R
p_load("tidyverse", "googledrive")

In [ ]:
%%R

# downloading data

drive_deauth()
drive_user()
public_file = drive_get(as_id("16Z4NYVo85-BcziIoBwgOCnHvUQ59F3Fo", "1eJ4uXiFqGqsXJ2ut5vex_Lg3BLlUAPjT"))
public_file %>% map(drive_download(., overwrite = T))

ℹ Not logged in as any specific Google user.
File downloaded:
• 'HuGaDB.zip' <id: 16Z4NYVo85-BcziIoBwgOCnHvUQ59F3Fo>
Saved locally as:
• 'HuGaDB.zip'

In [ ]:
%%capture
!unzip "/content/HuGaDB.zip" -d "/content/"

In [ ]:
# creating SQL database
!python create_db.py "/content/Data/"

Creating database: file 635/635

In [ ]:
# create SQL connection
con = sqlite3.connect("HuGaDB.db")

In [ ]:
# List all DB in SQL
pd.read_sql_query("SELECT name FROM sqlite_master WHERE type = 'table';", con)

    name
0  files
1   data

In [ ]:
# Read first 5 from the DB
files_df = pd.read_sql_query("SELECT * FROM files LIMIT 5", con)
files_df

   id                     filename
0   1  HuGaDB_v1_sitting_13_01.txt
1   2  HuGaDB_v1_various_14_03.txt
2   3  HuGaDB_v1_running_03_01.txt
3   4  HuGaDB_v1_various_09_02.txt
4   5  HuGaDB_v1_various_04_05.txt

In [ ]:
person_rep = '01_01'
file_name = 'HuGaDB_v1_walking_' + person_rep + '.txt'

In [ ]:

# sql_query_1 = "SELECT id FROM files WHERE filename IN (?)"  

# data_df_filename = pd.read_sql(sql_query_1, con, params = [file_name])
# display(data_df_filename)
# print(data_df_filename.shape)

In [ ]:
sql_query_3 = "SELECT * FROM data WHERE file_id IN (SELECT id FROM files WHERE filename IN (?))"

data_df = pd.read_sql(sql_query_3, con = con, params =  list([file_name]))
display(data_df)
print(data_df.shape)

           id  file_id  timestamp  acc_rf_x  ...  gyro_lt_z  EMG_r  EMG_l  act
0     2036664      617          0     -8560  ...       -236    129    132    1
1     2036665      617          1     -8440  ...        -48    147    150    1
2     2036666      617          2     -8724  ...        566    161    151    1
3     2036667      617          3     -8404  ...        707    144    147    1
4     2036668      617          4     -8992  ...        189    122    143    1
...       ...      ...        ...       ...  ...        ...    ...    ...  ...
3326  2039990      617       3326     -9372  ...        251    106    144    1
3327  2039991      617       3327     -9424  ...        426    206    145    1
3328  2039992      617       3328     -8964  ...        -60    117    143    1
3329  2039993      617       3329     -8684  ...       -802     99    105    1
3330  2039994      617       3330     -8312  ...       -436     90     46    1

[3331 rows x 42 columns]

(3331, 42)

In [ ]:
# person_rep = '01_03'
# file_name = 'HuGaDB_v1_walking_' + person_rep + '.txt'
# sql_query_3 = "SELECT * FROM data WHERE file_id IN (SELECT id FROM files WHERE filename IN (?))"

# data_df = pd.read_sql(sql_query_3, con = con, params =  list([file_name]))
# display(data_df)
# print(data_df.shape)

In [ ]:
# sample_data = data_df.sample(n=  500, random_state = 1)
# display(sample_data.head())
# print(sample_data.shape)

           id  file_id  timestamp  acc_rf_x  ...  gyro_lt_z  EMG_r  EMG_l  act
3020  2039684      617       3020    -26072  ...        918    119    101    1
600   2037264      617        600     -7472  ...        308    152    151    1
1012  2037676      617       1012    -32768  ...       -692     15      1    1
1156  2037820      617       1156     -8212  ...        310    186    187    1
517   2037181      617        517     -8772  ...       1435     97     97    1

[5 rows x 42 columns]

(500, 42)

In [ ]:
sample_data = data_df.iloc[:500, :]
display(sample_data.head())
print(sample_data.shape)

        id  file_id  timestamp  acc_rf_x  ...  gyro_lt_z  EMG_r  EMG_l  act
0  2036664      617          0     -8560  ...       -236    129    132    1
1  2036665      617          1     -8440  ...        -48    147    150    1
2  2036666      617          2     -8724  ...        566    161    151    1
3  2036667      617          3     -8404  ...        707    144    147    1
4  2036668      617          4     -8992  ...        189    122    143    1

[5 rows x 42 columns]

(500, 42)